* {
  box-sizing: border-box;
}

body {
  background-color: rgba(61, 19, 19, 0.411);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
	background: url('img/car.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 400px;
}

.square{
	width: 16px;
	height: 16px;
	background-color: rgb(70, 65, 65);
	box-shadow: 0 0 2px #000,0 0 15px rgb(15, 14, 14);
	transition: 2s ease-in-out;
}

.square:hover{
	transition-duration: 0s;
}